<div class="jumbotron text-center">
  <div class="login-area">
    {{#if session.isAuthenticated}}
      Logged in as {{session.currentUser.displayName}}
      {{!-- Logged in as {{session.currentUser.name}} --}}
      <button {{action "signOut"}}>Sign out</button>
    {{else}}
      <button {{action "signIn" "google"}}>Sign in with Google+</button>
    {{/if}}
  </div>
  <h2 id="title">{{#link-to 'application'}}The Reading Project{{/link-to}}</h2>
  {{#link-to 'books'}}
    <button class="btn btn-primary">List all books</button>
  {{/link-to}}
  {{#link-to 'books.new'}}
    <button class="btn btn-primary">Add new book</button>
  {{/link-to}}
</div>

{{outlet}}
